*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    --azul: #00eeff;
    --gris: #3e3c3f;
    --grisClaro: #696969;
    --negro: #22211f;
    --blanco: #FFFFFF;
}

body{
    background: var(--negro);
}

header{
    position: fixed;
    width: 100%;
    max-height: 10%;
    padding: 0.5em;
    background-color: var(--gris);
    font-size: 25px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display: flex;
    margin: auto;
    padding: 10px;
    padding-bottom: 5%;
}

.nav-link{
    position: fixed;
    width: 100%;
    top: 75px;
    background: rgba(26, 24, 24, 0.69);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    text-align: center;
    transition: all .5s;
}

.nav-link li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-link li a{
    color: var(--blanco);
    text-decoration: none
}

.nav-link a.active, .nav-link li a:hover{
    color: var(--azul);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-link{
    height: 100vh;
}

#check:checked ~ .nav-link li {
    display: block;
}

.menu-check{
    font-size: 25px;
    color: var(--blanco);
    margin-left: 30%;
    cursor: pointer;
}

.logo{
    display: flex;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    color: var(--blanco);
}

.logo img{
    height: 3em;
    margin-left: 4.5em;
}

.introduction{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.introduction .text{
    float: left;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    margin-left: 8%;
}

.introduction .text span{
    position: absolute;
    margin-left: -260px;
    height: 0;
    border-left: 2px var(--azul) solid;
    animation: saltar 5s infinite;
    transform: translateY(0);
    text-align: left;
}

.introduction .text .content-text h1{
    color: var(--blanco);
    width: 100%;
    font-size: 3em;
    text-align: left;
}

.introduction .text .content-text p{
    color: var(--blanco);
    font-size: 25px;
    font-weight: 100;
    text-align: left;
}

.introduction .image{
    float: right;
    margin: auto;
    text-align: center;
}

.barra {
    width: 100px;
    height: 6px;
    background-color: #ffffff75;
    margin-bottom: 10%;
    border-radius: 10px;
}

.progreso{
    width: var(--w);
    height: 6px;
    background-color: var(--azul);
    border-radius: 10px;
    margin-bottom: 10%;
    animation: porcentaje 5s ease;
}

.title{
    color: var(--blanco);
    margin: auto;
}

.title h1{
    padding-top: 20px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.border-buttom-title{
    width: 33%;
    height: 2px;
    background-color: var(--azul);
    margin: auto;
}

.title p{
    font-size: 25px;
    font-weight: 100;
    text-align: justify;
    margin: 1em 3em 3em 3em;
}

.skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.skills img{
    transition: all .5s;
}

.skills img:hover{
    filter: invert(9%) sepia(16%) saturate(217%) hue-rotate(2deg) brightness(96%) contrast(91%);
    transition: all .5s;
}

.skills span{
    color: var(--blanco);
    text-align: center;
    font-size: 50px;
    display: block;
}

.skills .uipath span, .skills .java span, .skills .vba span,
.skills .powerAutomate span, .skills .spring span, .skills .laravel span, .skills .automation span{
    font-size: 15px;
    margin: 17.5px;
}

.section{
    background-color: var(--gris);
}

.services li{
    margin-left: 7%;
    font-size: 25px;
    font-weight: bold;
}

@keyframes porcentaje {
    0%{
        width: 0;
    }
    100%{
        width: var(--w);
    }
}

@keyframes saltar {
    0%{
        height: 20px;
    }
    40%{
        transform: translateY(120px);
        height: 0;
    }
    50%{
        transform: translateY(60px);
        height: 60px;
    }
    100%{
        transform: translateY(0);
        height: 120px;
    }
}

@media screen and (min-width:900px){

    .menu-check{
        display: none;
    }

    .nav-link{
        position: relative;
        top: 0;
        text-align: right;
        background-color: var(--gris);
        transition: none;
        font-size: small;
        font-weight: 100;
    }

    .nav-link li{
        display: inline-block;
        line-height: 0;
        margin: 0 4%;
        font-size: 25px;
        transition: none;
        align-items: center;
    }

    .introduction .image{
        padding-top: 3.5em;
    }
    .skills html img span{
        flex-direction: column;
    }
}