<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Awesoft</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,300&display=swap" rel="stylesheet">
    <style>
        html{
            scroll-behavior: smooth;
        }
    </style>
    <script src="https://kit.fontawesome.com/2012ffdce8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="">
                <img src="../assets/img/logo.png" alt="">
                <h2>Awesoft</h2>
            </a>
            <input type="checkbox" id="check">
            <label for="check" class="menu-check">
                <i class="fa-light fa-bars"></i>
            </label>
            <ul class="nav-link">
                <li><a class="active" href="#introduction">Inicio</a></li>
                <li><a href="#">Habilidades</a></li>
                <li><a href="#">Proyectos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section id="introduction">
        <div class="introduction">
            <div class="text">
                <span></span>
                <div class="content-text">
                    <p>Hola, mi nombre es</p>
                    <h1>Miguel Ibañez Moreno</h1>
                    <p>Soy Desarrollador Trainee RPA apasionado a las tecnologias</p>
                </div>
            </div>
            <div class="image">
                <img src="../assets/img/Programming-bro.png" alt="Desarrollador RPA" width="600em" height="600em">
            </div>
        </div>
    </section>
    <section>

    </section>
</body>
</html>