<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Awesoft</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="logo" href="">
            <img src="../assets/img/logo.png" alt="">
            <h2>Awesoft</h2>
        </a>
        <nav>
            <a class="nav-link" href="">Inicio</a>
            <a class="nav-link" href="">Proyectos</a>
            <a class="nav-link" href="">Habilidades</a>
            <a class="nav-link" href="">Contacto</a>
        </nav>
    </header>
    <section>
        <div class="introduction">
            <div class="text">
                <span></span>
                <div class="content-text">
                    <p>Hola, mi nombre es</p>
                    <h1>Miguel Ibañez Moreno</h1>
                    <p>Soy Desarrollador Trainee RPA apasionado a las tecnologias</p>
                </div>
            </div>
            <div class="image">
                <img src="../assets/img/Programming-bro.png" alt="Desarrollador RPA" width="600em" height="600em">
            </div>
        </div>
    </section>
</body>
</html>